body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1B5B6F;
    color: #26FD96;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
}
header nav {
    display: flex;
    gap: 20px;
}
header nav a {
    color: #26FD96;
    text-decoration: none;
    font-size: 16px;
}
header nav a:hover {
    text-decoration: underline;
}
header .login-signup a {
    color: #26FD96;
    text-decoration: none;
    font-size: 16px;
}
header .login-signup a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 75px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the content */
}
h1 {
    color: #333;
}
p {
    color: #666;
    line-height: 1.6;
}