* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v50_2 {
  width: 100%;
  height: 941px;
  background: url("../images/v50_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v50_3 {
  width: 100%;
  height: 941px;
  background: rgba(26,90,110,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_6 {
  width: 717px;
  height: 717px;
  background: url("../images/v54_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 29px;
  border-top-left-radius: 83px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.v54_37 {
  width: 613px;
  height: 765px;
  background: url("../images/v54_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 772px;
  overflow: hidden;
}
.v54_7 {
  width: 613px;
  height: 765px;
  background: rgba(17,80,99,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_8 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 72px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v54_9 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 96px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_29 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 96px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_30 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 96px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_14 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 63px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_26 {
  width: 30px;
  height: 30px;
  background: url("../images/v54_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 463px;
  overflow: hidden;
}
.v54_31 {
  width: 30px;
  height: 30px;
  background: url("../images/v54_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 463px;
  overflow: hidden;
}
.v54_32 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 336px;
  left: 129px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_35 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 526px;
  left: 279px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_36 {
  width: 316px;
  color: url("../images/v54_36.png");
  position: absolute;
  top: 601px;
  left: 151px;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
