* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v54_38 {
  width: 100%;
  height: 941px;
  background: url("../images/v54_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_39 {
  width: 100%;
  height: 941px;
  background: rgba(26,90,110,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_40 {
  width: 717px;
  height: 717px;
  background: url("../images/v54_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 700px;
  border-top-left-radius: 83px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.v54_41 {
  width: 613px;
  height: 765px;
  background: url("../images/v54_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 62px;
  overflow: hidden;
}
.v54_42 {
  width: 613px;
  height: 765px;
  background: rgba(17,80,99,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_43 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 72px;
  left: 226px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v54_55 {
  width: 459px;
  height: 61px;
  background: url("../images/v54_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 61px;
  overflow: hidden;
}
.v54_44 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_47 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_48 {
  width: 30px;
  height: 30px;
  background: url("../images/v54_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 400px;
  overflow: hidden;
}
.v54_56 {
  width: 477px;
  height: 61px;
  background: url("../images/v54_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 43px;
  overflow: hidden;
}
.v54_57 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_58 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_60 {
  width: 30px;
  height: 30px;
  background: url("../images/v54_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 418px;
  overflow: hidden;
}
.v54_54 {
  width: 426px;
  height: 61px;
  background: url("../images/v54_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 94px;
  overflow: hidden;
}
.v54_46 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_49 {
  width: 30px;
  height: 30px;
  background: url("../images/v54_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 367px;
  overflow: hidden;
}
.v54_50 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 33px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_53 {
  width: 426px;
  height: 61px;
  background: url("../images/v54_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 565px;
  left: 94px;
  overflow: hidden;
}
.v54_45 {
  width: 426px;
  height: 61px;
  background: rgba(32,120,147,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v54_51 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 177px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v54_63 {
  width: 324px;
  color: url("../images/v54_63.png");
  position: absolute;
  top: 652px;
  left: 145px;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
